# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDEs and Tools
.vscode/
.idea/
*.swp
*.swo

# Project specific
output/
dataset/
data/
*.dcm
*.npy
*.pt
*.pth
logs/
*.log
runs/

# Kaggle/Local working directories
/segmented_images/
/preprocessed_dataset/
/split_dataset/
/augmented_real_world/
/real_world_segmented/

# macOS
.DS_Store
